

.cell {
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 0px;
    margin: -1px;
    margin-top: -2px;
}

.boardrow {
    margin: 5px;
    vertical-align: center;
}

.form-control {
    max-width: 60px;
}

.error {
    border-color: #a94442;
}

label.error {
    color: #a94442;
}

